<!DOCTYPE html>
<html lang="es">
<head>
  <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
      <%- include("partials/header") %>  
    </header>
    
    <main><form action="" class="box-cart">

      
        <h1>Carrito de compras </h1>
        
        <img class="w-50 mx-auto m-pic" src="/images/enviobici.png" alt="Imagen del producto" />


  
    <tbody>

    <% for (let i = 0; i < cartProducts.length; i++) { %>
    
    <tr>

      
      <div class="box-list imagen-con-zoom  ">
       
        
        <img class="w-50 mx-auto m-pic" src="<%= cartProducts[i].productImage %>" alt="Imagen del producto" />

        <th> Marca:</th> 
        <td><%= cartProducts[i].productBrand %></td>
       
        <th> Modelo:</th> 
        <td><%= cartProducts[i].productModel %></td>

        <th> Precio:</th>
        <td >$ <%= cartProducts[i].productPrice %></td>
        
        <th> Tamaño:</th>
        <td>$ <%= cartProducts[i].productSize %></td>

       <th> Color:</th> 
        <td><%= cartProducts[i].productColor %></td>

        <th> Categoria:</th> 
        <td><%= cartProducts[i].productCategory %></td>
   
        <label for="quantity<%= i %>">Cantidad:</label>
        <input type="number" id="quantity<%= i %>" name="quantity<%= i %>"  value="1" min="1">
      
        <button class="blue-text" >Eliminar producto</button>

      </div>
    </tr>
      <% } %>

    </tbody>
  
  
  
  <h2 class="flex-buy">Método de envío</h2>
  <div class="center my-1 shipment">
    <label> Envío en 24 horas ($5.000) </label>
    <input type="radio" name="shipping_method" value="24_hours"> 
  </div>
  <div class="center my-1 shipment">
    <label>Envío por encomienda ($3.000)</label>
    <input type="radio" name="shipping_method" value="shipping"> 
  </div>

 <button class="blue-text boton-formulario" >Vaciar Carrito</button>
  
 <tr >
  <h2>Total $ <%= total.toFixed(2) %></h2> <th></th>
</tr>


    <div class="flex-buy">
    <input type="submit" value="Finalizar compra" class="boton-formulario" formaction="/home">
  
</form>


</div>
      
</main>

<%- include("partials/footer") %>

</body>  
</html>





