<!DOCTYPE html>
<html lang="es">
<head>
  <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
      <%- include("partials/header") %>  
    </header>
    
    <main><form action="" class="box-cart">

      
        <h1>Carrito de compras </h1>
        
        <img class="w-50 mx-auto m-pic" src="/images/enviobici.png" alt="Imagen del producto" />


  <table class="font1 mt-5 mb-5">
    <thead class="font1 mt-5 mb-5">
 
    </thead>
    <tbody>
      <% for (let i = 0; i < cartProducts.length; i++) { %>
        <tr>
          <th> Producto</th>
          <td><%= cartProducts[i].productId %></td>
          <th> Precio</th>
          <td><%= cartProducts[i].productPrice %></td>

          <td>$ <%= cartProducts[i].productPrice %></td>
          
        </tr>
      <% } %>
    </tbody>



    <tfoot>
      <tr>
        <th colspan="2">Total </th>
        <th>$ --</th>
      </tr>
    </tfoot>
  </table>
  
  <h2 class="flex-buy">Método de envío</h2>
  <div class="center my-1 shipment">
    <label> Envío en 24 horas ($5.000) </label>
    <input type="radio" name="shipping_method" value="24_hours"> 
  </div>
  <div class="center my-1 shipment">
    <label>Envío por encomienda ($3.000)</label>
    <input type="radio" name="shipping_method" value="shipping"> 
  </div>

 <button class="blue-text" >Eliminar compras</button>
  
  <p class="center my-1 shipment">Total: $0.00</p>

    <div class="flex-buy">
    <input type="submit" value="Finalizar compra" class="boton-formulario" formaction="/home">
  
</form>



</div>
      
</main>

<%- include("partials/footer") %>

</body>  
</html>





