<article class="mx-auto bg-white my-1 w-50 md-w-50 lg-w-25 b-product"> 
    <div class="flex-buttom p-10">
        <button type="button" class="boton-formulario">
            <a href="/edit/<%= bike.id %>" class="c-white">Editar producto</a>
        </button>
    </div> 
    <div class="imagen-con-zoom">
        <img class="a-center w-50 mx-auto " src="/images/products/<%= bike.image %>" alt="Imagen del producto" />
    </div>

<div class="bt-1 mx-auto border-grey p-1 relative flex flex-wrap">
    <i class="fa-solid fa-truck truck-icon"></i>
    <h3 class="text-lg description w-100"> 
        <%= bike.brand.name %>
    </h3> 
    <h3 class="text-lg description w-100">
        <%= bike.ModelsByBrand ? bike.ModelsByBrand.name : 'Modelo no disponible' %>     
     </h3>
     <p class="text-xl mr-1"> $
        <%= bike.price %>     
        </p>
     
    <p class="p-10 "> Talle Cuadro:
        <%= bike.size.name %>
    </p>
    <p class="p-10 "> Color: 
        <%= bike.color.name %>
    </p>
    <p class="p-10 "> Categoria: 
        <%= bike.category.name %>
    </p> 
    <p class="p-10 "> Descripcion: 
        <%= bike.description %>
    </p>
</div>
</article>