<article class="mx-auto bg-white my-1 w-50 md-w-50 lg-w-25 b-product">
    <div class="bt-1 border-grey p-1 relative flex flex-wrap">
      <p class="text-xl mr-1">
        <h2 class="flex-buttom p-10">Categoria <%= category %> </h2>
        <% bikes.forEach(bike => { %> 
          <a href="/bikes/<%= bike.id %>">
            <img class="w-50 mx-auto m-pic" src="<%= bike.image%>" alt="Imagen del producto" />
            <h4><%= bike.ModelsByBrand.modelName %></h4>
            <p class="ps-text-grey"> $<%= bike.price %></p>
          </a>
          <br />
        <% }) %>
      </p>
    </div>
  </article>