<article class="mx-auto bg-white my-1 w-50 md-w-50 lg-w-25 b-product">        
    <div class="bt-1 border-grey p-1 relative flex flex-wrap">
        <h2 class="flex-buttom p-10">Listado de Bicicletas</h2>
       <div class="flex-buttom p-10">
                    <button type="button" class="boton-formulario">
                        <a href="/create" class="c-white">Crear producto</a>
                    </button>
                </div>

        <div>
        <div class="text-xl mr-1 mx-auto">
                      
            <% bikes.forEach(bike =>{ %>
            </div>
            <div class="box-list"> 
                <a class="a-center w-full" href="/bikes/<%= bike.id %>">
<<<<<<< HEAD
                    <img class="flex-buy w-50 mx-auto m-pic" src="<%= bike.image %>" alt="Imagen del producto" />
=======
                    <img class="flex-buy w-50 mx-auto m-pic zoom-image" src="/images/products/<%= bike.image %>" alt="Imagen del producto" />
>>>>>>> ed7a241f7397a46f91028e5f993f2bbc3ecdd3b2
            </div> 
                    <p class="text-price"><%= bike.ModelsByBrand.modelName %></p>
                    <p class="text-price"> $
                    <%= bike.price  %>
                    </p>
                </a>
                <br />
                    <% }) %>
        </div>
   
</article>