<!DOCTYPE html>
<html lang="es">
<head>
  <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
      <%- include("partials/header") %>        
    </header>
  

    <main class="m-main-log">
      

        <form action="/login" method="POST" class="bg-ligh-grey flex-log">

            <div>
              <h2 class=" center"> Login </h2>
              <div class="font1 mt-5 mb-5">
                <input type="text" 
                name="email" 
                id="email" 
                placeholder="Email" 
                title="El email de Usuario debe tener al menos 2 letras"
                value="<% locals.oldData ? oldData.email : null %>">
              </div>
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                  <%= errors.email.msg %> 
                </div>  
              <% } %>

          
              <div class="font1 mt-5 mb-5">
                <input type="password" name="password" id="password" placeholder="Contraseña" required pattern=".{6,}" title="La contraseña deberá tener al menos 6 letras">
                <% if (locals.errors && errors.password) { %>
                  <div class="text-danger">
                    <%= errors.password.msg %> 
                  </div>  
                <% } %>
                <p class="center"><a href="#"> Olvidé mi contraseña </a></p>
              </div>
              
            </div>
            <input type="submit" value="Ingresá" class="ml mt-2 bold boton-formulario">
          <div class="ml relative p-10">
            <a href="#" class="mr"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class=""><i class="fab fa-google-plus-g"></i></a>
        </div>
        <span class="ml font-size-10">o utiliza tu cuenta</span>  

        <div class="ml">
        <p class="font1 mt-5 mb-5">
         Aún no sos usuario?
        <a href="/register"> Registrate </a>   

        </p>
      </div>    
          </form>       
</main>    
    
</body>
<footer class="bg-grey padding-footer">
    
  <%- include("partials/footer") %>
    
</footer>

</html>