<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey">
    
<header class="bg-grey p-20">
        <%- include("partials/header") %>        
</header>

<main>
     <h2> Editar producto </h2>
    <form action="/bikes/<%= bike.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="create-form">
    <div class="m-pic">
        <label for="nombre">Nombre Del Producto:</label>
        <input type="text" id="nombre"  name="nombre" placeholder="Inserte nombre del producto" class="control box-formulario"
        value="<%= bike.nombre %>">
    </div>
    <div class="m-pic">
        <label for="marca">Marca del producto:</label>
        <input type="text" id="marca" name="marca" placeholder="Vairo" class="control box-formulario"
        value="<%= bike.marca %>">
    </div>
    <div class="m-pic">
        <label for="rodado">Rodado:</label>
        <input type="text" id="rodado" name="rodado" placeholder="29" class="control box-formulario"
        value="<%= bike.rodado %>">
    </div>
    <div class="m-pic">
        <label for="tamaño">Tamaño del cuadro:</label>
        <input type="text" name="tamaño" id="tamaño" placeholder="XL" class="control box-formulario"
        value="<%= bike.tamaño %>">
    </div>
    <div class="m-pic">
        <label for="categoria">Categoría de Bicicleta</label>
        <select name="categoria" id="categoria">
            <option value="electrica">Eléctrica</option>
            <option value="freestyle">Freestyle/BMX </option>
            <option value="mountain-bike">Mountain Bike</option>
            <option value="paseo">Paseo/Urban</option>
            <option value="ruta">Ruta/Triatlon</option>
            
        </select>    
    </div>
    <div class="m-pic">
        <label for="precio">Precio del producto:</label>
        <input type="text" id= "precio" name="precio" placeholder="$159.700" class="control box-formulario"
        value="<%= bike.precio %>">
    </div>
    <div class="m-pic">
        <label for="descripcion">Descripcion:</label>
        <textarea id="descripcion" name="descripcion" class="control box-formulario"><%= bike.descripcion %></textarea>
    </div>
    <div class="m-pic">
        <label for="img">Imagen del producto</label>
        <input type="file" id="img" name="img">
    </div>
    <div class="m-pic">
        <button type="reset" class="boton-formulario m-pic">Borrar</button>
        <button type="submit" class="boton-formulario m-pic">Editar producto</button>
    </div>
    </form>
    <form action="/bikes/<%= bike.id %>?_method=DELETE" method="POST" class="create-form">
    <div class="m-pic">
    <button type="submit" class="boton-formulario m-pic"> DESTROY </button>   
</div>    

    </form>     
</main>

<footer class="bg-grey padding-footer">
    
        <%- include("partials/footer") %>
        
</footer>
</html>