<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
        <%- include("partials/header") %>        
    </header>

    <main>
        <article class="mx-auto bg-white my-1 w-50 md-w-50 lg-w-25 b-product">        
        <div class="bt-1 border-grey p-1 relative flex flex-wrap">
           
            <p class="text-xl mr-1">
                <% bycicles.forEach(bike =>{ %>
                    
                    <a href="/bikes/<%= bike.id %>">
                        <img class="w-50 mx-auto m-pic" src=<%= bike.img %> alt="Imagen del producto" />
                        <h4><%= bike.modelo  %></h4>
                        <p class="ps-text-grey">
                        <%= bike.precio  %>
                        </p>
                    </a>
                    <br />
                    <%   }) %>
            </p>
        </div>
    </article>
</main>
        


</body>

<footer class="bg-grey padding-footer">
     <%- include("partials/footer") %>
    </footer>
</html>