<!DOCTYPE html>
<html lang="es">
<head>
  <%- include("partials/head") %>
</head>

<body class="bg-ligh-grey bg-img">
    
    <header class="bg-grey p-20">
      <%- include("partials/header") %>
    </header>
    <main>
        <form action="/<%= user.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data" class="vw-90 bg-register">
        <h1 class="register">Edita tu perfil</h1>
        <div class="m-pic">
            <label for="firstName">Nombre:</label>
            <input type="text" name="firstName" id="firstName" 
            value="<%= user.firstName %>">
          </div>
          <div class="m-pic">
            <label for="lastName">Apellido:</label>
            <input type="text" name="lastName" id="lastName" 
            value="<%= user.lastName %>">
          </div>
          <div class="m-pic">
            <label for="birthday">Fecha de nacimiento:</label>
            <input type="date" name="birthday" id="birthday" 
            value="<%= user.birthday %>">
          </div>
          <div class="m-pic">
            <label for="address">Domicilio:</label>
            <input type="text" name="address" id="address" 
            value="<%= user.address %>">
          </div>
          <div class="m-pic">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" 
            value="<%= user.email %>">
          </div> 
          <div class="m-pic">
            <label for="phone">Numero de contacto:</label>
            <input type="text" name="phone" id="phone" 
            value="<%= user.phone %>">
          </div>
          <div class="m-pic">
            <label for="contraseña">Nueva Contraseña:</label>
            <input type="password" name="password" id="password" 
            value="<%= user.password %>">
          </div> 

          <div class="m-pic">
            <label for="avatar">Avatar:</label>
            <input type="file" id="avatar" name="avatar" 
            value="<%= user.avatar %>">
          </div>
          <div class="m-pic">
          <input type="submit" value="Editar" class="boton-formulario"/>
          <input type="reset" value="Borrar Formulario" class="boton-formulario"/>
        
        </div> 
    </form>

    <form action="/<%= user.id %>?_method=DELETE" method="POST" class="bg-register flex-buttom">
          <div class="m-pic">
          <button type="submit" class="boton-formulario m-pic c-red"> DESTROY </button>   
      </div>    
      
          </form>
  </main>
    
  <%- include("partials/footer") %>

  </body>  
</html>